:root{
    --inputbox-padding: 10px;
}


.inputbox{
    /* width:fit-content; */
    width:300px;
    position: relative;
    padding: var(--inputbox-padding);
    margin-bottom: 15px;
}

/* .inputbox::before{
    content: attr(data-min);
    position: absolute;
    bottom: -10px;
    font-size:.75em;
}

.inputbox::after{
    content: attr(data-max);
    position: absolute;
    right: 10px;
    bottom: -10px;
    font-size:.75em;
} */

.inputbox__wrapper{
    position: relative;
}
.inputbox__designations{
    display: flex;
    justify-content: space-between;
    font-size:.75em;
    position: absolute;
    bottom: -10px;
    width: calc(100% - var(--inputbox-padding)*2);
}